/* html{
    font-size: 62.5%;
} */

.carousel-item img {
    height: 85vh;
    object-fit: cover;
}
.icon-padding{
    padding: 2px;
}
.card-highlight{
    height: 450px;
  
}
.card-margin{
    margin-bottom: 6rem;
}